// ----------------------------------------
// +reset
// ----------------------------------------
html,body,div,h1,h2,h3,h4,h5,h6,p,blockquote,q,pre,table,caption,colgroup,col,tbody,thead,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,form,fieldset,legend,label,input,span,a,img,em,ins,del,cite,abbr,sup,sub,dfn,code,var,samp,kbd,object,script,noscript,style,iframe,embed,param,map,area,menu,hr,address,small,strong,i,b,article,aside,figure,footer,header,hgroup,nav,section,figcaption,time,video,audio,mark,ruby,rt,rp,bdo,source,canvas,details,summary,command,datalist,keygen,output,progress,meter {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}
address,article,aside,figure,figcaption,footer,header,hgroup,hr,legend,menu,nav,	section,summary {
	display: block;
}
ul,ol {
	list-style-type: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
img {
	vertical-align: top;
}
[hidden] {
	display: none;
}
mark {
	background: none;
}
input {
	opacity: 1;
}